$screen-xs-min: 480px; // Extra small screen / phone
$screen-sm-min: 768px; // Small screen / tablet
$screen-sm-max: 991px; // Small screens / tablets
$screen-md-min: 992px; // Medium screen / desktop
$screen-md-lg-min: 1100px; // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop
$screen-lg-max: 2000px; // Large screen / wide desktop


$primary: #0c4a6e;
$secondary: #1d82c5;
$pink: rgb(217,35,95);
$danger: #9b2c2c;
$pure-white: #fff;


$btn-primary: #1d82c5;
$btn-secondary: rgb(217,35,95);
$gradient-factor: .5;
